<section>
    <div class="conatiner mt-5">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h2 class="text-center"><b>Add Products</b></h2>
                <form action="/admin/add-products" method="post" enctype="multipart/form-data">
                    <label for="name" class="fs-6"><b>Name</b></label>
                    <input type="text" class="form-control" name="Name" id="Name">
                    <label for="brand" class="fs-6"><b>Brand</b></label>
                    <input type="text" class="form-control" name="Brand" id="Brand">
                    <label for="price" class="fs-6"><b>Price</b></label>
                    <input type="text" class="form-control" name="Price" id="Price">
                    <label for="description" class="fs-6"><b>Description</b></label>
                    <input type="text" class="form-control" name="Description" id="Description">
                    <label for="image" class="fs-6"><b>Image</b></label>
                    <input class="form-control" type="file" id="Image" name="Image">
                    <br>
                    <button type="submit" class="btn btn-success float-end"><b>Submit</b></button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>