<section>
    <nav class="navbar navbar-expand-lg">
  <div class="container-fluid bg-success p-2">
    <a class="navbar-brand ms-5" href="#" style="font-weight: bolder; font-size:2rem; color:aliceblue">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-5" id="navbarNav" style="font-weight: bold; font-size:1.3rem;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color:aliceblue;">All Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:aliceblue;">All Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:aliceblue;">All Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</section>